<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div><img src="/static/images/jackals.jpg" alt="jaquelbot image" style="width:111px;height:70px;">
    <div>  &nbsp;&nbsp;&nbsp;<b>Jacquelbot</b>
    <div>
      <div id="chatbox">
        <p class="botText"style="text-align:center"><span>We are Jacqueline and Jacques, your Non-Violent Communication (NVC) training partners.<br>Click <a href="/static/JacquelbotOverview.html">here for detailed system overview. </a><br><br> In each training session, one of us will pretend to be person that is strongly feeling and needing something. There are several training sessions. Each session will have a different set of feelings and needs.  You will try to communicate to each person in a way that uses NVC tools.  Each practice session will take a few minutes to for the required steps: <br> (1) ask how the person is doing,<br> (2) guess the correct feeling, <br> (3) guess the correct need, <br> (4) help find a strategy. <br><br> When you are ready to begin, type "start"  </span></p>      
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="You: type here">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>
