You scare me when you look at me like that.  <br><br><center><i> <font size='1'>When you are ready for the next session, type &#39;begin&#39; or just &#39;b&#39; </font ></i></center>




    I wonder why I&#39;m feeling that way.    <br><br><i><center><font size='1'>-------------------------------------- </i></center></font size>

        That is a great idea! I'll buy! <br><br><font size='1'><center> <b></font'><font size='3'>What happens next:<br><font size='2'> Now you have seen the basics of the game.  Ready for a little more information? .<br> <br> It will be your job to: <br>(1) connect with them by asking how they are doing <br>(2) guess their feelings, <br>(3) guess thier needs, and <br>(4) propose a strategy. <br>Remember you can type 'nvc feelings' or 'nvc needs' to see a list. When you are ready, <br><br> Type: begin</b></font></center></font size> 


    </i> <br><br> <b><center><font size='3'> When you are ready for the next session <br><br> Type: begin</b></font></center>



    <p class="botText"style="text-align:center"><span>The Needs Game is a tool to help you practice the skill of identifying a person's needs. </a><br><br> You will be given a phrase, then you will guess the correct need. Some helpful hints:<br> (1) Only guess on need at a time.<br> (2) Typing 'start' starts you at the very beginning of ALL the questions. <br> (3) Typing  'begin' moves you forward to where you can begin the next question. <br> (4) Typing  'nvc needs' gives a list of needs. The answer is always on this list. <br><br> When you are ready to begin, type "start"  </span></p>     




    The Needs Game is a tool to help you practice the skill of identifying a person's needs.
You will be given a phrase, then you will guess the correct need. Some helpful hints:

Only guess on need at a time
Typing 'start' starts you at the very beginning of ALL the questions
Typing  'begin' moves you forward to where you can begin the next question
Typing  'nvc needs' gives a list of needs. The answer is always on this list.

type start 
    